{% extends 'base.html' %}
    {% set title='My Forms' %}
    {% block title %}{{ title }} Page{% endblock %}

    {%block explain %}
    {{super()}}

    <div id="dict">

        <h1>Search user here</h1>

        <form action="/forms">
            <input type="text" name="user_name" placeholder="user name">
            <input type="submit" value="Find">
        </form>

        {% if user_name %}
            <h2>Name: {{user_name}}</h2>
            <h3>Email: {{user_email}}</h3>
        {% endif %}

        {% if message %}
            <h3 style="color: red"> {{message}}</h3>
        {% endif %}

        {% if isEmpty %}
            {% if users_dict %}
                <ol>
                    {% for k, v in users_dict.items() %}
                        <li><h2>Name: {{k}}, email: {{v}}</h2></li>
                    {% endfor %}
                </ol>
            {% endif %}
        {% endif %}

    </div>
    {%endblock %}

    {%block titleFooter1 %}Find more about diving in Israel{% endblock %}
    {% block linkFooter1 %}<a href="https://www.padi.com/diving-in/israel/" target="_blank">Diving in Israel</a>{% endblock %}

    {% block titleFooter2 %}Find more about diving in Sinai{% endblock %}
    {% block linkFooter2 %}<a href="https://www.abrahamhostels.com/diving-in-sinai-the-best-diving-spots-and-more/" target="_blank">Diving in Sinai</a>{% endblock %}

    {% block titleFooter3 %}Find more about diving in Galapagos{% endblock %}
    {% block linkFooter3 %}<a href="https://www.liveaboard.com/diving/galapagos?cid=5000&gclid=Cj0KCQjw-pCVBhCFARIsAGMxhAckwhrj2vTJNxAnXHdsfg5MTeKfM9SNyxCuOdz0Rdz_sVmXaUtRoEcaAv1FEALw_wcB" target="_blank">Diving in Galapagos</a>{% endblock %}

