<header>
    <nav>
        <ul>
            <img src="../static/img/Logo.png" id="logo">
            <li><a href="/home">Home</a></li>
            <li id="contact"><a href="/contact">Contact Us</a></li>
            <li id="hobbies"><a href="/assignment3_1">My Hobbies</a></li>
            <li id="forms"><a href="/assignment3_2">My Forms</a></li>
                        {% if session['user_name'] %}
                             <div id="helloUser">
                                  <h2>Hello, {{session['user_name'] | upper ()|default('USER')}}</h2>
                            </div>
                        {% endif %}

            <img src="../static/img/menu%20icon.png" id="menuIcon">

        </ul>
    </nav>
</header>